*{
    margin: 0;
    padding: 0;
}

body{
   
    background-color: black;
}

nav{
    margin-top: 200px;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style: none;
    transform: skew(-25deg);
}

nav ul li{
    background-color: white;
    float: left;
    border-right: 1px solid black;
    font-size: 20px;
    padding: 10px;
    box-shadow: 1.95px 1.95px 2.6px solid white;
    text-transform: uppercase;
    color: black;
    transition: all 0.3s linear;
}

a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transform: skew(25deg);
}

nav ul li:hover{
    background-color: black;
    color: white;
}

nav ul li:first-child{
    border-radius: 7px 0px 0px 7px;
}

nav ul li:last-child{
    border-radius: 0px 7px 7px 0px;
}